<configuration scan="true">
	<property name="log.directory" value="logs/" />
	<property name="log.context.name" value="dht" />
	<property name="log.charset" value="UTF-8" />
	<property name="log.maxHistory" value="30" />
	<property name="log.pattern" value="[%-5level] %date --%thread-- [%logger] %msg %n" />
	<property name="log.error.log.level" value="WARN" />
	<property name="log.async.queue.size" value="1024" />

	<contextName>${log.context.name}</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="${log.charset}">
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 按天来回滚，如果需要按小时来回滚，则设置为{yyyy-MM-dd_HH} -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.directory}${log.context.name}-log.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 如果按天来回滚，则最大保存时间为1天，1天之前的都将被清理掉 -->
			<maxHistory>${log.maxHistory}</maxHistory>
		</rollingPolicy>
		<!-- 日志输出格式 -->
		<encoder charset="${log.charset}">
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>

	<!-- 异步输出 -->
	<appender name ="ASYNC_FILE" class= "ch.qos.logback.classic.AsyncAppender">
		<!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
		<discardingThreshold >0</discardingThreshold>
		<!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
		<queueSize>${log.async.queue.size}</queueSize>
		<!-- 添加附加的appender,最多只能添加一个 -->
		<appender-ref ref = "FILE"/>
	</appender>

	<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${log.error.log.level}</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.directory}${log.context.name}-error.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>${log.maxHistory}</maxHistory>
		</rollingPolicy>
		<encoder charset="${log.charset}">
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>

	<root>
		<level value="info" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ASYNC_FILE" />
		<appender-ref ref="ERROR" />
	</root>
</configuration>
